* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

#container {
    margin: 0 auto;
    width: 960px;
    border: 1px solid red;
}

#cabecalho {
    background: #f7b600;
    text-align: center;
    padding: 15px;
}

#area-logo, #menu {
    padding: 10px;
}

#postagem-principal {
    width: 640px;
    background: whitesmoke;
    margin-top: 20px;
    float: left;
    padding: 20px;
}

#postagem-principal h2 {
    color: #f7b600;
}

#postagem-principal img {
    margin-top: 20px;
}

#container-lateral {
    width: 260px;
    float: right;
    margin-top: 20px;
}

#postagem-lateral {
    background: whitesmoke;
    padding: 5px;
}

#menu-lateral {
    margin-top: 10px;
    background: whitesmoke;
    padding: 5px;
}

/*FORMATAÇÕES GERAIS*/

#container-lateral a {
    color: #f7b600;
    text-decoration: none;
}

#container-lateral a:hover {
    text-decoration: underline;
}

#menu a {
    text-decoration: NONE;
    color: white;
    padding: 8px 12px;
}

#menu a:hover {
    background: white;
    color: #f7b600;
    border-radius: 5px;
}

h1 {
    font-size: 2.5em;
    color: darkgray;
}

span {
    color: white;
}

ul li {
    list-style: none;
}

#container-lateral h2 {
    font-size: 1.2em;   
    background: grey;
    color: darkgray;
    padding: 3px 5px;
    margin-bottom: 5px;
}

#container-lateral ul{
    margin: 10px;
}

#container-lateral p {
    padding: 5px 10px ;
}
